@import url('extra.css');
:root{
    --header-text-clr: #e5e5e5
}
html, body {
    border:0;
    margin:0;
    padding: 0;
    background-color: #e5e5e5;
}
#website-wrapper{
    padding: 0 3rem;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #2370e3;
    padding: 0 3rem;
    
}
#logo-svg{
    font-size: 50px;
    
}
#nav-container > ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 3rem;
}
li > a{
    text-decoration: none;
    position: relative;
    color: var(--header-text-clr); 
}
a::before {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 100%;
  height: 2px; 
  background-color: var(--header-text-clr); 
  transform: scaleX(0); 
  transform-origin: left center;
  transition: transform 0.2s ease-in-out;
}

/* Animate the underline on hover */
a:hover::before {
  transform: scaleX(1); /* Expand the underline on hover */
}

li > a:visited{
    color: var(--header-text-clr);
}